.nav {
  ul {
    display: flex;
    list-style-type: none;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #dea47e;
  }

  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    text-transform: capitalize;
  }

  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color: #81adc8;
  }
}

.container {
  position: sticky;
  transition: top 0.3s; /* Transition effect when sliding down (and up) */
  top: 0;
  z-index: 100;
}
